<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Записи счетчиков</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Здравствуйте! Вы попали на сайт по простотру и регистрации показателей счетчиков какой то компании! </h1>
    <p align="right">[[${#httpServletRequest.remoteUser}]]</p>
    <a th:if="${#httpServletRequest.remoteUser == null}"><a th:href="@{/authenticated/testAdminPanel}"
                                                              class="btn btn-primary btn-sm mb-3"> Авторизоваться</a></a>
    <a th:unless="${#httpServletRequest.remoteUser == null}"><a th:href="@{/authenticated/testAdminPanel}"
                                                            class="btn btn-primary btn-sm mb-3"> Вернуться на главную страницу</a></a>
    <p></p>
    <a th:if="${#httpServletRequest.remoteUser == null}"><a th:href="@{/onlyAdmin}"
                                                            class="btn btn-primary btn-sm mb-3"> Авторизоваться с ролью админ</a></a>
</div>
</body>
</html>