<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую запись </title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Система управления пользвателями </h1>
    <hr>
    <h2 class="mb-4"> Добавить пользователя </h2>
    <form action="#" th:action="@{/authenticated/saveRecord}" th:object="${record}" method="POST">
        <!--        <input type="text" th:field="*{id}" placeholder="Введите идентификационный номер статьи" class="form-control mb-4 col-4"/>-->
        <input type="number" th:field="*{meterId}" placeholder="ID счетчика" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{type}" placeholder="Тип счетчика(пример: ELM777)" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{meterGroup}" placeholder="Группа счетчика(пример: room1)" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{timestamp}" placeholder="Дата замера yyyy-mm-dd hh:mm:ss" class="form-control mb-4 col-4"/>
        <input type="text" th:field="*{currentReading}" placeholder="Текущий замер" class="form-control mb-4 col-4"/>


        <button type="submit" class="btn btn-info col-2.5">Сохранить статью</button>
    </form>
    <a th:href="@{/authenticated/testAdminPanel}" class="btn btn-danger mt-4 col-2.5"> Вернуться на главную страницу </a>
</div>

</body>
</html>