<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Поисковик на ElasticSearch</title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1> Найденные значения по данному запосу </h1>
  <div class="container">

  </div>
  <table class="table table-striped table-responsive-md table-bordered">
    <thead>
    <tr>
      <th> meterId</th>
      <th> type</th>
      <th> meterGroup</th>
      <th> timestamp</th>
      <th> currentReading</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${listOfRecordByMonth}">
      <td th:text="${record.meterId}"></td>
      <td th:text="${record.type}"></td>
      <td th:text="${record.meterGroup}"></td>
      <td th:text="${record.timestamp}"></td>
      <td th:text="${record.currentReading}"></td>
    </tr>
    </tbody>
  </table>
  <a th:text="${result}"></a>
</div>

</body>
</html>